

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

p{
    color: #e5e7eb;
    font-size: 18px;
}

h1{
    color: #F9FAf8;
    font-size: 48px;
}

ul{
    font-style: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li{
    
}

.header{
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10vw 0px 10vw;
    gap: 50px;
}

.header-logo{
    font-size: 50px;
    color: white;
}

.header-links{
    flex-grow: 1;
    display: flex;
    gap: 20px;
    color: lightgray;
    text-align: right;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.content-top{
    display: flex;
    background-color: #1F2937;
    padding: 5vw 15vw 5vw 15vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.site-description{
    display: flex;
    flex-direction: column;
    flex: 0 1 400px;
    min-width: 300px;
}

.logo-img{
    background-image: url("./img/white-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    flex: 0 0 0;
    border-radius: 20px;
    height: auto;
}

.logo-img img{
    width: 20vw;
    height: 10vw;
}

.content-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0px 10vw 0px 10vw;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
}

.item{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px #1F2937;
    border: 2px solid #1F2937;
}

.item img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-bottom: 2px solid #1F2937;
}

.items-title{
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
    margin-top: 20px;
    

}

.item p{
    font-size: 24px;
    font-weight: 700px;
    color:#1F2937;
}

.content-quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25vw 0px 25vw;
    margin-bottom: 0px;

}

.content-quote p{
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 0px;
}

.author{
    font-size: 24px;
    font-weight: 600;
    color:#1F2937;
    margin-top: -10px;
    padding-top: 0px;
    text-align: right;
    align-self: end;
    flex: 0 0 auto;
}

.footer{
    background-color:#1F2937;
    font-size: 18px;
    color:#e5e7eb;
    text-align: center;
    padding: 20px;
}
